doctype html
html(lang= 'ru')
  meta(charset= 'utf-8')
  title Центр профориентации молодёжи
  link(rel= 'stylesheet', href= 'css/main.css')
body
  .container
    .row
      .col-xs
        h1.logotype
          a.logotype__link(href= '#') Профориентация
  .container
    .row
      .col-xs
        nav.main-nav
          i.fa.fa-bars
          a.main-nav__item(href= '#') Выбрать учебное заведение
          a.main-nav__item(href= '#') О нас
          a.main-nav__item(href= '#') Контакты
